@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600;700&display=swap');

body{
    background: rgb(255,255,255);
    background: linear-gradient(90deg, rgba(255,255,255,1) 50%, rgba(155,172,177,0.5802696078431373) 50%, rgba(5,6,194,1) 50%   );
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#mainblock{
    width: 80%;
    height: 500px;
    background-color: white;
    border-radius: 25px;

    -webkit-box-shadow: 0px 0px 30px -5px #000000; 
    box-shadow: 0px 0px 30px -5px #000000;

}
.leftinnerwidth {
    width: 50%;
    text-align: center;

}
.rightinnerwidth {
    width: 50%;
    

}
.leftinnerwidth > img.x1 {
    width: 85px;
    height: 50px;

}
h1 {
    font-family: 'Dancing Script', cursive;
}
#btnGoogle {
    display: block;
    width: 40%;
    height: 30px;
    border: 1px solid#9c9c9c;
    text-decoration: none;
    color: black;
    font-family: arial;
    font-weight: bold;
    margin: auto;
    -webkit-box-shadow: 7px 7px 15px -5px rgba(0,0,0,0.4); 
    box-shadow: 7px 7px 15px -5px rgba(0,0,0,0.4);
    border-radius: 3px;
    /*border: 1px;
    border-color: #9c9c9c;*/
}
#btnGoogle span {
    position: relative;
    top: -5px;

}

#btnGoogle span::before {
    content: url("../IMG/google.png");
    position: relative;
    left: -30px;
    top: 8px;

}

#fspacer{
    margin-top: 15px;
    margin-bottom: 15px;
    color: #9c9c9c;
    display: block;
    height: 30px;
    font-family: Arial, Helvetica, sans-serif;
}
#fspacer hr {
    border: 1px solid gray;
    border-bottom: 0px;
    border-left: 0px;
    border-right: 0px;
    position: relative;
    z-index: 1;
}
#fspacer span {
        position: relative;
        top: 16px;
        background-color: white;
        z-index: 2;
        text-transform: uppercase;
        font-size: 10px;
}
form input[type="email"],form input[type="password"]{
    border: 1px solid #9c9c9c ;
    width: 200px;
    height: 25px;
    border-radius: 2px;
    margin: 3px;
    font-family: Arial, Helvetica, sans-serif;


}
form input[type="email"]:focus,form input[type="password"]:focus {
    outline: none;
}
form input[type="checkbox"]{
    color: #9c9c9c;
}
#divforgot{
    display: black;
    width: 200px;
    height: 30px;
    margin: auto;

}

#divforgot, a {
    color: #9c9c9c;
    font-size: 10px;
    font-family: Arial, Helvetica, sans-serif;

}
#divforgot input [type="checkbox"]{
    float: left;
}
#divforgot a {
    float: right;
}
form input[name="formlogin"]{
    display: block;
    width: 200px;
    height: 30px;
    background-color: rgba(106, 7, 204, 0.664);
    color: white;
    margin: auto;
    border: 1px solid #7305e1a3 ; 
    
}